<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>A First App</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <div id="app">
    <div>
      <label for="goal">Goal</label>
      <p>{{ outputGoals() }}</p>
      <div v-html="htmlCode"></div>
      <p>Learn More About <a v-bind:href="link">Vue</a> </p>
      <input type="text" id="goal" v-model="enteredValue" />
      <button v-on:click="addGoals">Add Goal</button>
    </div>
    <ul>
      <li v-for="goal in goals">
        {{ goal }} <span v-on:click="removeGoals">x</span>
      </li>
    </ul>
  </div>
  <div id="counter">
    <div>
      <p>Events in action</p>
      <span v-on:click="add">add</span><span v-on:click="count = count - 1">remove</span>
      <p>result {{ count }}</p>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="counter.js"></script>
  <script src="app.js"></script>
</body>

</html>